*{
	padding: 0;
	padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
	background: #EFEFEF;
	overflow-x: hidden;
	background: 'Poppins', sans-serif;

}
.nav-link{
	display: inline;
	padding: 1.2rem;
}

.header-container h2{
	text-align: left;
	padding: 1rem;
	font-weight: 800;
	font-family: 'Poppins', sans-serif;
	color: #0078E7;
	font-size: 25px;
	margin-left: 220px;
	display: flex;
}


.navlinks{
	text-align: center;
	margin-top: -49px;
	font-family: 'Poppins', sans-serif;
	font-size: 19px;
}

.navlinks .nav-button{
	margin-left: 1200px;
	margin-top: -35px;
	list-style: none;
	background: #0078e7;
	border: 2px solid #0078E7;
	border-radius: 43px;
	width: 123px;
	height: 28px;
	font-size: 18px;
	padding: 0.6rem;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.50);
	color: white;
}

.section-container img{
	position: absolute;
	width: 409px;
	height: 464px;
	left: 930px;
	top: 110px;

}

.section-container h1{
	position: absolute;
	width: 429px;
	height: 180px;
	left: 230px;
	top: 220px;

	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	line-height: 90px;

	color: #000000;
}

.button{

border-radius: 43px;
position: absolute;
width: 142px;
height: 30px;
left: 224px;
top: 420px;
white-space: nowrap;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
padding: 0.9rem;
border-radius: 34px;
text-decoration: none;
/* identical to box height */
color: #40514e;
}


.home{
  color: darkblue;
}

@media only screen and (max-width: 600px) {

  .about-section p{
    font-size: 14px;
  }

  .wrapper{
    margin-left: 300px;
    display: flex;
  }

  .about-section h2{
    font-size: 21px;
  }

  .about-section a{
    font-size: 16px;
  }

  .logo{
  	flex-direction: column;
  	margin-left: 12px;
    font-size: 22px;
  }

  .section-container a{
  	display: flex;
  	flex-direction: column;
  	margin-left: -200px;
  	font-size: 18px;
  	top: 420px;
  }

  .section-container h1{
  	display: flex;
  	flex-direction: column;
  	margin-left: -198px;
  	font-size: 34px;
  }
}


nav{
  height: 80px;
  width: 100%;
}

label.logo{
  color: #0078e7;
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  margin-left: 140px;
  font-family: 'Poppins', sans-serif;
}

nav ul{
  float: right;
  margin-right: 20px;
  margin-left: -34px;
  font-family: 'Poppins', sans-serif;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;

}

a.active{
  background: #1b9bff;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 30px;
  }
  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
    display: block;
    color: black;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(128,128,128, 1);
    color: lightgrey;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

.about-section h2{
  text-align: center;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.about-section p{
  padding: 1.5rem;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.about-section a{
  margin-left: 30px;
  font-family: 'Poppins', sans-serif;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid black;
}

form{
  text-align: center;
  align-content: center;
  display: block;
}

input["text"]{
  padding: 8px;
}

.wrapper{
  width: 715px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
  margin-left: 409px;
  margin-top: 80px;
  border: 2px solid black;
  display: flex;
}
.wrapper header{
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
}
.wrapper form{
  margin: 35px 30px;
}
.wrapper form.disabled{
  pointer-events: none;
  opacity: 0.7;
}
form .dbl-field{
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field{
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}
.wrapper form i{
  position: absolute;
  top: 50%;
  left: 18px;
  color: black;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.field input::placeholder,
.message textarea::placeholder{
  color: black;
}
.field input:focus,
.message textarea:focus{
  padding-left: 47px;
  border: 2px solid #0D6EFD;
}
.field input:focus ~ i,
.message textarea:focus ~ i{
  color: #0D6EFD;
}
form .message{
  position: relative;
}
form .message i{
  top: 30px;
  font-size: 20px;
}
form .message textarea{
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar{
  width: 0px;
}
.message textarea:focus{
  padding-top: 14px;
}
form .button-area{
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button{
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #0D6EFD;
  transition: background 0.3s ease;
}
.button-area button:hover{
  background: #025ce3;
}
.button-area span{
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
@media (max-width: 600px){
  .wrapper{
    display: flex;
    margin-left: -100px;
    padding: 2px;
  }
  .wrapper header{
    text-align: center;
    margin-left: 80px;
  }
  .wrapper form{
    margin: 35px 20px;
  }
  form .dbl-field{
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea{
    resize: none;
  }
  form .button-area{
    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button{
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span{
    margin: 20px 0 0;
    text-align: center;
  }
}